*,
:after,
:before {
  box-sizing: border-box;
}

html {
  background-color: var(--gray1);
  color: var(--gray12);
  font-size: 100%;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-weight: 300;
}

body {
  margin: 0;
  line-height: normal;
  color: var(--gray12);
  font-size: 1rem;
}