@font-face {
  font-family: Montserrat;
  src: url("/_static/fonts/Montserrat-Light.woff2") format("woff2"),
    url("/_static/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url("/_static/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("/_static/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}