.a_1 {
    color: var(--gray11);
    text-decoration: none;
    padding: 0.25rem;
    min-width: 44px;
    display: inline-flex;
    border-radius: 3px;
    font-weight: 500;
}

.a_2 {
    color: var(--prim11);
    font-weight: 500;
    text-decoration: none;
    display: inline-flex;
}

.a_1.active {
    color: var(--prim11);
}

.a_1:hover {
    color: var(--prim11);
}

.a_2:hover {
    color: var(--prim12);
}

.a_1:focus,
.a_2:focus {
    box-shadow: 0 0 0 1px var(--gray10);
    outline: none;
}