.home_cont h2,
.home_cont p,
.home_cont li {
  font-size: 1.075rem;
}

.home_cont h1,
.home_cont h2 {
  font-weight: 500;
}

.home_cont h1 {
  position: absolute;
  left: 0.5rem;
  top: 5rem;
  font-size: 1.125rem;
}

.home_cont .sec {
  max-width: 512px;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: auto;
  max-height: calc(100vh - 8rem);
}

.readable {
  background-color: var(--gray2);
}

.home_cont ul,
.home_cont p,
.home_cont h1,
.home_cont h2 {
  line-height: 1.6;
  margin: 0;
  color: var(--gray12);

  padding-bottom: 0.5rem;
}

.home_cont li,
.home_cont p {
  font-weight: 300;
}

.o_table {
  border-collapse: separate;
  width: 100%;
  background-color: var(--graysurface);
  margin-top: 1rem;
  font-size: 1.075rem;
}

.o_table caption {
  font-size: 1.125rem;
  font-weight: 500;
  text-align: left;
  padding-top: 1rem;
  border-top: 1px solid var(--gray4);
  padding-bottom: 1.25rem;
  background-color: var(--graysurface);
}

.o_table thead th {
  font-weight: 500;
}

.o_table th {
  text-align: left;
  font-weight: 300;
}

.o_table tbody td {
  padding-top: 0.5rem;
}